<div class="row">
  <div class="small-6 small-offset-3 comlumns">
    <% if @errors %>
      <% @errors.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>

    <%= form_for [@content, @comment], id: "comment_form" do |f|%>
      <div><%= f.label :body %></div>
      <div><%= f.text_area :body %></div>
      <div><%= f.submit %></div>
    <% end %>
  </div>
</div>