<% @contents.each do |content| %>
  <% if content.attachable_type == "Paragraph" %>
    <p><%= raw(add_hyper_links(content.attachable.body)) %></p>
    
    <% if sub_chapter_owner?(@sub_chapter) %>
     
    <% end %>

  <% elsif content.attachable_type == "CodeSnippet" %>
    <% @count +=1 %>
    <div id="editor <%=@count%>" style="height: 200px; width: 100%; background-color:#eee"><%= content.attachable.body %></div>
    <input type="hidden" id ="editor_language <%=@count%>" value="<%= content.attachable.language %>">
    
    <% if sub_chapter_owner?(@sub_chapter) %>
      
    <% end %>

  <% elsif content.attachable_type == "Image" %>
    <div class="image-container"><%= image_tag content.attachable.image_path.url(:original) %></div>
  
  <% end %>

<% end %>