<% @contents.each do |content| %>
  <div class="content-item"> 
    <% if content.attachable_type == "Paragraph" %>
      <p><%= raw(paragraph_formater(content.attachable.body)) %></p>
      
      <% if sub_chapter_owner?(@sub_chapter) %>
        <div class="edit-links">
          <div><%= link_to "#{fa_icon('edit', class: "fa-2x")}<br>edit".html_safe, edit_paragraph_path(content.attachable) %></div>
          <div><%= link_to "#{fa_icon('trash-o', class: "fa-2x")}<br>delete".html_safe, paragraph_path(content.attachable), class: "delete-content", method: :delete, data: {confirm: "Are you sure you want to remove this paragraph?"} %></div>
        </div>
      <% end %>

    <% elsif content.attachable_type == "CodeSnippet" %>
      <div id="editor-<%= content.id %>" style="height: 200px; width: 100%; background-color:#eee"><%= content.attachable.body %></div>
      <input type="hidden" id ="editor_language-<%= content.id %>" value="<%= content.attachable.language %>">
      
      <script>
        var editor = ace.edit("editor-<%= content.id %>");
        var language = document.getElementById("editor_language-<%= content.id %>").value
        editor.setTheme("ace/theme/textmate");
        editor.session.setMode("ace/mode/" + language.toLowerCase());
        editor.getSession().setUseWrapMode(true);
        editor.setReadOnly(true)
        editor.setOptions({
          maxLines: Infinity
          });
      </script>

      <% if sub_chapter_owner?(@sub_chapter) %>
        <div class="edit-links">
          <div><%= link_to "#{fa_icon('edit', class: "fa-2x")}<br>edit".html_safe, edit_code_snippet_path(content.attachable) %></div>
          <div><%= link_to "#{fa_icon('trash-o', class: "fa-2x")}<br>delete".html_safe, code_snippet_path(content.attachable), class: "delete-content", method: :delete, data: {confirm: "Are you sure you want to remove this code snippet?"} %></div>
        </div>
      <% end %>
    <% elsif content.attachable_type == "Image" %>
      <div class="image-container"><%= image_tag content.attachable.image_path.url(:original) %></div>
      
      <% if sub_chapter_owner?(@sub_chapter) %>
        <div class="edit-links">
          <div><%= link_to "#{fa_icon('edit', class: "fa-2x")}<br>edit".html_safe, edit_image_path(content.attachable) %></div>
          <div><%= link_to "#{fa_icon('trash-o', class: "fa-2x")}<br>delete".html_safe, image_path(content.attachable), class: "delete-content", method: :delete, data: {confirm: "Are you sure you want to remove this image?"} %></div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>