<div class="row">
  <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
    <% if sub_chapter_owner?(@sub_chapter) %>
      <%= link_to "#{fa_icon('arrow-circle-o-left', class: "fa-2x")} Back".html_safe, tutorial_path(@sub_chapter.chapter.tutorial) %>
    <% end %>

    <h1><%= @sub_chapter.title %></h1>

    <div id="content-body">
      <ul class="sortable-contents">
        <%= render "sub_chapters/content_body" %>
      </ul>
    </div>
    
    <% if sub_chapter_owner?(@sub_chapter) %>
      <div class="media-options">
        <div id="add-text"><%= link_to "#{fa_icon('font', class: "fa-2x")}<br>text".html_safe, new_sub_chapter_paragraph_path(@sub_chapter), data: {"reveal-id" => "modal-popup"} %></div>
        <div id="add-code"><%= link_to "#{fa_icon('code', class: "fa-2x")}<br>code".html_safe,new_sub_chapter_code_snippet_path(@sub_chapter), data: {"reveal-id" => "modal-popup"} %></div>
        <div id="add-image"><%= link_to "#{fa_icon('camera', class: "fa-2x")}<br>image".html_safe, new_sub_chapter_image_path(@sub_chapter), data: {"reveal-id" => "modal-popup"} %></div>
      </div>

    <% end %>

  </div>
</div>

<%= javascript_include_tag "sortable_contents" %>

