<h1><%= @sub_chapter.title %></h1>

<% @sub_chapter.contents.sort_by(&:order_number).each do |content| %>
  
  <% count = 0 %>

  <% if content.attatchable_type == "Paragraph" %>
    <%= content.attatchable.body %>
    <br>          
    <br>
    <p>
      <%= link_to "Edit", edit_paragraph_path(content.attatchable) %> 
      <span> [UP] </span>
      <span>[DOWN]</span>
    </p>

  <% elsif content.attatchable_type == "CodeSnippet" %>
      <% count +=1 %>
      <div id="editor <%=count%>" style="height: 200px; width: 500px; background-color:#eee"><%= content.attatchable.body %></div>
      <br>
      <p>
        <%= link_to "[Edit]", edit_code_snippet_path(content.attatchable) %> 
        <%= link_to "[UP]", content_up_path(content) %> 
        <%= link_to "[DOWN]", content_down_path(content) %>             
      </p>

  <% end %>
<% end %>

<%= link_to "Add Paragraph", new_sub_chapter_paragraph_path(@sub_chapter) %>
<%= link_to "Add Code Snippet", new_sub_chapter_code_snippet_path(@sub_chapter) %>
<%= link_to "Add Image", new_sub_chapter_image_path(@sub_chapter) %>