<div class="row">
  <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
    <% if sub_chapter_owner?(@sub_chapter) %>
      <%= link_to "#{fa_icon('arrow-circle-o-left', class: "fa-2x")} Back".html_safe, tutorial_path(@sub_chapter.chapter.tutorial) %>
    <% end %>

    <h1><%= @sub_chapter.title %></h1>

    <div id="content-body">
      <%= render "sub_chapters/content_body" %>
    </div>
    
    <% if sub_chapter_owner?(@sub_chapter) %>
      <div class="media-options">
        <div id="add-text"><%= link_to "#{fa_icon('font', class: "fa-2x")}<br>text".html_safe, new_sub_chapter_paragraph_path(@sub_chapter), data: {"reveal-id" => "modal-popup"} %></div>
        <div id="add-code"><%= link_to "#{fa_icon('code', class: "fa-2x")}<br>code".html_safe,new_sub_chapter_code_snippet_path(@sub_chapter), data: {"reveal-id" => "modal-popup"} %></div>
        <div id="add-image"><%= link_to "#{fa_icon('camera', class: "fa-2x")}<br>image".html_safe, new_sub_chapter_image_path(@sub_chapter), data: {"reveal-id" => "modal-popup"} %></div>
      </div>

    <% end %>

  </div>
</div>


<script>
  $(document).foundation();

  /*****************************************************************
  * Edit paragraph
  ******************************************************************/
  $('')













  /*************************************************
  * testing stuff
  **************************************************/

  $('.content-item').on("dblclick", function(e){
    var currentDiv = e.currentTarget;
  })

  /* ***************************************
  *  Get requests for media
  ** ***************************************/
  $("#add-text a").on("click", function(e){
    e.preventDefault();
    
    var url = $(this).attr("href");
    $.get(url, function(serverResponse, status, request){
      $("#modal-popup").html(serverResponse)
    });
  });

  $("#add-code a").on("click", function(e){
    e.preventDefault();
    
    var url = $(this).attr("href");
    $.get(url, function(serverResponse, status, request){
      $("#modal-popup").html(serverResponse)
    });
  });

  $("#add-image a").on("click", function(e){
    e.preventDefault();
    
    var url = $(this).attr("href");
    $.get(url, function(serverResponse, status, request){
      $("#modal-popup").html(serverResponse)
    });
  });

  /* ***************************************
  *  Post requests for media
  ** ***************************************/

  var appendParagraph = function(paragraph){
    $("#content-body").append("<p>" + paragraph.body + "</p>").slideDown();
    $("#content-body").append("<div class='edit-links'><div><a href='/paragraphs/" + paragraph.id + "/edit'><i class='fa fa-edit fa-2x'></i><br>edit</a></div><div><a data-confirm='Are you sure you want to remove this paragraph?' data-method='delete' href='/paragraphs/" + paragraph.id + "' rel='nofollow'><i class='fa fa-trash-o fa-2x'></i><br>delete</a></div></div>")
  }

  var appendSnippet = function(snippet){
    $("#content-body").append("<div id='editor-" + snippet.id + "' style='height: 200px; width: 100%; background-color:#eee'>" + snippet.body + "</div><input type='hidden' id ='editor_language-" + snippet.id + "' value='" + snippet.language + "'>").slideDown();
    $("#content-body").append("<div class='edit-links'><div><a href='/code_snippets/" + snippet.id + "/edit'><i class='fa fa-edit fa-2x'></i><br>edit</a></div><div><a data-confirm='Are you sure you want to remove this code snippet?' data-method='delete' href='/code_snippets/" + snippet.id + "' rel='nofollow'><i class='fa fa-trash-o fa-2x'></i><br>delete</a></div></div>")
    $("#content-body").append("<script>var editor = ace.edit('editor-" + snippet.id + "');var language = document.getElementById('editor_language-" + snippet.id + "').value;editor.setTheme('ace/theme/textmate');editor.session.setMode('ace/mode/" + snippet.language + "');editor.getSession().setUseWrapMode(true);editor.setReadOnly(true);  editor.setOptions({maxLines: 40 });<\/script>"); }

  $("#modal-popup").on("submit", "#new_paragraph", function(e){
    e.preventDefault();

    var data = $(this).serialize();
    var url = $(this).attr("action");

    $.post(url, data, function(serverResponse, status, request){
      appendParagraph(serverResponse)

      $("#modal-popup").foundation("reveal", "close");
    }, "json");
  });
  
  $("#modal-popup").on("submit", "#new_code_snippet", function(e){
    e.preventDefault();

    var data = $(this).serialize();
    var url = $(this).attr("action");

    $.post(url, data, function(serverResponse, status, request){
      appendSnippet(serverResponse)

      $("#modal-popup").foundation("reveal", "close");
    }, "json");
  });


  /*****************************************************
   * Deleting contents
  /*****************************************************/
  
  $(".delete-content").removeAttr("data-confirm").removeAttr("data-method")
  $("#content-body").on('click', ".delete-content", function(e){
    e.preventDefault();
    var url = $(this).attr("href");
    var parentDiv = $(this).parent().parent().parent()
    var result = window.confirm("Are you sure you want to delete this part?")
    if (result){
      $.ajax({
        url: url,
        type: "DELETE",
        success: "great:success"
      }, "json").done(function(){
        $(parentDiv).toggle("fade", function(){ $(parentDiv).remove() })
      })
    }
  })

  // $("#imagePopup").on("submit", "#new_image", function(e){
  //   e.preventDefault();

  //   var data = $(this).serialize();
  //   var img = $("#image_image_path").val();
  //   var url = $(this).attr("action");

  //   console.log(data+'&r='+encodeURIComponent(img))

  //   $.post(url, data+'&r='+encodeURIComponent(img), function(serverResponse, status, request){
  //     var image = serverResponse;
      
  //     $("#content-body").append("<div class='image-container>").slideDown();
  //     $("#imagePopup").foundation("reveal", "close");
  //   }, "json");
  // });
</script>

 <p>
  <%#= link_to "Edit", edit_paragraph_path(content.attachable) %> 
  <%#= link_to "[UP]", content_up_path(content) %> 
  <%#= link_to "[DOWN]", content_down_path(content) %>           
</p>
























