<div class="row">
  <div class="small-10 small-offset-1 columns">

    <%= form_for [@sub_chapter,@code_snippet] do |f|%>

      <% if @errors %>
        <% @errors.each do |error| %>
          <p><%= error %></p>
        <% end %>
      <% end %>

      <% @code_snippet.body = "" unless @code_snippet.body %>

      <%= render "code_snippets/input_language_select" %>

      <p>Code Block:</p>

      <div id="editor" style="height: 200px; width: 100%; background-color:#eee"><%= @code_snippet.body %></div>
      <input type="hidden" id="input_value" name="code_snippet[body]" value="">
      <input type="submit" value="Submit" onclick="storeInfo()" class="button">
    <% end %>
    
  </div>
</div>
<a class="close-reveal-modal">&#215;</a>

<%= javascript_include_tag "ace_new" %>