<% if (current_user && current_user.id == @user.id) %>
	<h1 class="user-profile">Hi, <%= "#{@user.user_name}" %>! </h1>
	<h2 class="user-profile">Manage your tutorials:</h2>
	<div>
		<% @tutorials.each do |tutorial| %>
			<%= link_to tutorial_path(tutorial) do %>
				<div class="tutorial-list medium-10 medium-offset columns">
					<li>
						<p class="tut-title">
							<%= tutorial.title %>
						</p>
						<p class="tut-description">
							<%= tutorial.description %>
						</p>
					</li>
				</div>
			<% end %>
		<% end %>
	</div>	
	<h2 class="user-profile">Manage your community memberships:</h2>
	<div>
		<% @user.communities.each do |community| %>
			<%= link_to community_path(community) do %>
				<div class="tutorial-list medium-10 medium-offset columns">
					<li>
						<p class="tut-title">
							<%= community.name %>
						</p>
						<p>
							<%= link_to "Delete Membership", delete_user_membership_community_path(community), :method => :post %>
						</p>
					</li>
				</div>
			<% end %>
		<% end %>
	</div>
<% else %>
	<h1 class="user-profile"><%= "#{@user.user_name}" %>'s Tutorials</h1>
	<div>
		<% @tutorials.each do |tutorial| %>
			<%= link_to tutorial_path(tutorial) do %>
				<div class="tutorial-list medium-10 medium-offset columns">
					<li>
						<p class="tut-title">
							<%= tutorial.title %>
						</p>
						<p class="tut-description">
							<%= tutorial.description %>
						</p>
					</li>
				</div>
			<% end %>
		<% end %>
	</div>	
<% end %>

<script type="text/javascript">
	$(document).foundation();
</script>

