<% if (current_user && current_user.id == @user.id) %>
	
	<h1 class="user-profile">Hi, <%= "#{@user.user_name}" %>! </h1>
	<div class="medium-10 medium-offset-1 columns">
		<h2 class="user-profile">Manage your tutorials:</h2>
	</div>
	<div>
		<% @tutorials.each do |tutorial| %>
			<%= link_to tutorial_path(tutorial) do %>
				<div class="tutorial-list medium-10 medium-offset columns">
					<li>
						<p class="tut-title">
							<%= tutorial.title %>
						</p>
						<p class="tut-description">
							<%= tutorial.description %>
						</p>
					</li>
				</div>
			<% end %>
		<% end %>
	</div>	
	<% if @user.communities.empty? == false %>
		<div class="user-profile medium-10 medium-offset-1 columns">
			<h2 id="community-header">Manage your community memberships:</h2>
		</div>
		<div>
			<% @user.communities.each do |community| %>
				<%= link_to community_path(community) do %>
					<div class="tutorial-list medium-10 medium-offset columns">
						<li id="community-<%= community.id %>">
							<div class="tut-title">
								<%= community.name %>
							</div>
								<%= link_to "Delete Membership", delete_user_membership_community_path(community), class: "button delete-tutorial delete-community-link", id: "community-community.id", data: { confirm: "Are you sure you want to delete your membership to this community?"},  :method => :post %>
						</li>
					</div>
				<% end %>
			<% end %>
		</div>
	<% else %>
		<div class="user-profile medium-10 medium-offset-1 columns">
			<h3>You are not currently a member of any communities</h3>
			<%= link_to "Join a Community Now!", communities_path, class: "button" %>
		</div>
	<% end %>
<% else %>
	<h1 class="user-profile"><%= "#{@user.user_name}" %>'s Tutorials</h1>
	<div>
		<% @tutorials.each do |tutorial| %>
			<%= link_to tutorial_path(tutorial) do %>
				<div class="tutorial-list medium-10 medium-offset columns">
					<li>
						<p class="tut-title">
							<%= tutorial.title %>
						</p>
						<p class="tut-description">
							<%= tutorial.description %>
						</p>
					</li>
				</div>
			<% end %>
		<% end %>
	</div>	
<% end %>

<script type="text/javascript">
	$(document).foundation();
	
// In progress javascript.......... 
	// $(".delete-community-link").removeAttr("data-confirm")
	// console.log($(".delete-community-link"))
    $(function(){

		$(".tutorial-list").on('click', ".delete-community-link", function(e){
	      e.preventDefault();
	      var this = $(this)
	      console.log(this)
	     
	      // var url = $(this).attr("href");
	      // console.log(this)
	      // console.log(url)
	      // var result = window.confirm("Are you sure you want to delete your membership to this community?")
		     // if (result){
		     // 	console.log("yes")
		     // }

	    });
    	
    })
</script>


