<div class="welcome-banner">
  <div>
    <h1 class="tagline">How to hack it</h1>	
    <h3 class="site-description">Experience more.  Contribute to an expanding knowledge base.</h3>
    <%= form_for :search, url: search_path , method: :post, html: {role: "search"} do |f| %>
    <div class="form-group">
      <%= f.search_field :search, name: "search_data",  placeholder: "Search our community", class: "form-control" %>
      <%= f.button "Search", type: :submit, class: "button" %>
    </div>
    <% end %>
  </div>
</div>

<div class="icon-banner">
  <div class="row home-icons">
    <div class="large-4 columns">
  		<%= link_to "#{fa_icon('file-text', class: "fa-5x")}<h4>Read Tutorials</h4><p>Follow and read our comprehensive tutorials.</p>".html_safe, tutorials_path %>
    </div>
    
    <div class="large-4 columns">
    	<%= link_to "#{fa_icon('compass', class: "fa-5x")}<h4>Explore Topics</h4><p>Find tutorials by category, including programming, computer hardware, networking, and more.</p>".html_safe, topics_path %>
    </div>

    <div class="large-4 columns">
  		<%= link_to "#{fa_icon('globe', class: "fa-5x")}<h4>Communities</h4><p>Stay up to date with your communities as they add new content.</p>".html_safe, communities_path %>
    </div>
  </div>
</div>

<% if !user_signed_in? %>
  <div class="row">
    <div class="small-6 small-offset-3 medium-4 medium-offset-4">
      <h4 class="register">Register to create a tutorial</h4>
      <%= link_to "Sign Up", new_user_registration_path, class: "lg-sign-up-btn sign-up-link", data: {"reveal-id" => "modal-popup"} %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="small-6 small-offset-3 medium-4 medium-offset-4">
      <%= link_to "Create Tutorial", new_tutorial_path, class: "lg-sign-up-btn create-tutorial-link", data: { "reveal-id" => "modal-popup" } %>
    </div>
  </div>
<% end %> 




