<div class="welcome-banner">
  <div>
    <h1 class="tagline">Information for the technological age.</h1>	
    <h3 class="site-description">Experience more.  Contribute to an expanding knowledge-base.</h3>
  </div>
</div>

<div class="icon-banner">
  <div class="row home-icons">
    <div class="large-4 columns">
  		<%= link_to "#{fa_icon('file-text', class: "fa-5x")}<h4>Read Tutorials</h4><p>Follow and read our comprehensive tutorials.</p>".html_safe, tutorials_path %>
    </div>
    
    <div class="large-4 columns">
    	<%= link_to "#{fa_icon('compass', class: "fa-5x")}<h4>Explore</h4><p>Find tutorials by category, including programming, computer hardware, networking, and more.</p>".html_safe, topics_path %>
    </div>

    <div class="large-4 columns">
  		<%= link_to "#{fa_icon('globe', class: "fa-5x")}<h4>Communities</h4><p>Organized tutorials by and for communities.</p>".html_safe, topics_path %>
    </div>
  </div>
</div>

<% if !user_signed_in? %>
  <div class="row">
    <div class="small-6 small-offset-3 medium-4 medium-offset-4">
      <%= link_to "Sign Up", new_user_registration_path, class: "lg-sign-up-btn" %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="small-6 small-offset-3 medium-4 medium-offset-4">
      <%= link_to "New Tutorial", new_tutorial_path, class: "lg-sign-up-btn" %>
    </div>
  </div>
<% end %>  

