<div class="welcome-banner">
	<h1 class="page-title">
		Welcome to infobytes!
	</h1>	
</div>

<!-- <div class="home-navigation">
	<%= link_to "#{fa_icon('compass', class: "fa-5x")}".html_safe, tutorials_path %>
	<%= link_to "#{fa_icon('file-text', class: "fa-5x")}".html_safe, topics_path %>
</div>

<div class="home-navigation-text">
	<h3>Explore</h3>
	<h3>Read Tutorials</h3>
</div> -->

<div class="row">
  <div class="large-3 columns">
		<%= link_to "#{fa_icon('file-text', class: "fa-5x")}".html_safe, topics_path %>
    <h4>Read Tutorials</h4>
    <p>Follow and read our comprehensive tutorials.</p>
  </div>
  
  <div class="large-3 columns">
  	<%= link_to "#{fa_icon('compass', class: "fa-5x")}".html_safe, tutorials_path %>
    <h4>Explore</h4>
    <p>Find tutorials by category, including programming, computer hardware, networking, and more.</p>
  </div>

  <div class="large-3 columns">
		<%= link_to "#{fa_icon('globe', class: "fa-5x")}".html_safe, topics_path %>
    <h4>Communities.</h4>
    <p>Organized tutorials by and for communities.</p>
  </div>
</div>

<div class="spacing">

</div>


