<ul class="rating">
	<li class="1"><%= link_to fa_icon('star', class: "fa-1x").html_safe, update_rating_path(tutorial.id, 1) %></li>
	<li class="2"><%= link_to fa_icon('star', class: "fa-1x").html_safe, update_rating_path(tutorial.id, 2) %></li>
	<li class="3"><%= link_to fa_icon('star', class: "fa-1x").html_safe, update_rating_path(tutorial.id, 3) %></li>
	<li class="4"><%= link_to fa_icon('star', class: "fa-1x").html_safe, update_rating_path(tutorial.id, 4) %></li>
	<li class="5"><%= link_to fa_icon('star', class: "fa-1x").html_safe, update_rating_path(tutorial.id, 5) %></li>
</ul>