<% if @errors %>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= form_for @tutorial do |f|%>
  
  <div><%= f.label :title %><br>
  <%= f.text_field :title %></div>

  <div><%= f.label :description%><br>  
  <%= f.text_area :description, rows: 10 %></div>

  <div><%= f.submit %></div>

<% end %>