<div class="row">

  <div class="tutorial-header">
  	<h1><%= @tutorial.title %></h1>
  	<p>Description: <%= @tutorial.description %></p>
    
    <% if tutorial_creator? %>
      <%= link_to "Edit Title & Description", edit_tutorial_path(@tutorial), id: "edit-tutorial-header", data: {"reveal-id" => "modal-popup"} %>
    <% else %>
      <p class="inline"> Written by: <%= link_to "#{@author.user_name}", user_path(@author), class: "inline" %></p>
    <% end %>

    <%= link_to "View As Single Page", html_view_tutorial_path(@tutorial) %>

    <% if @tutorial.community_id %>
      <p>Community: <%= @community.name %></p>
    <% else %>
      <% if user_signed_in? && current_user.communities.empty? == false %>
        <%= render "tutorials/add_community_form" %>
      <% end %>
    <% end %>

  </div> 

  <h2 class="tut-index">Table of Contents:</h2>
  <div class="row" id="tutorial-contents">
    <div id="chapter-list" class="small-10 small-offset-1">
  		<%= render "tutorials/chapter_tree_show" %>
    </div>
  </div>

	<% if tutorial_creator? %>
    <%= link_to "Add Section <i class='fa fa-plus-square fa-2x' id='fa-plus-square'></i>".html_safe, generate_chapter_path(@tutorial), id: "add-chapter"%>
    <div id="chapter-form" style="display: none;"></div>
	<% end %>
 
</div>

<% if tutorial_creator? %>
  <script>
    $(".delete").removeAttr("data-confirm").removeAttr("data-method")   
  </script>
<% end %>



