<div class="row">

  <div class="tutorial-header">
    
  	<h1><%= @tutorial.title %></h1>
  	<p class="tutorial-description">Description: <%= @tutorial.description %></p>

    <p class="tutorial-status">This tutorial is marked as 
      <% if tutorial_creator? %>
        <span class="tutorial-status <%= @tutorial.status ? 'complete-tutorial' : 'incomplete-tutorial' %>"><%= link_to (@tutorial.status ? "Completed" : "In Progress"),"/tutorials/#{@tutorial.id}/toggle_status", class: (@tutorial.status ? 'complete-tutorial' : 'incomplete-tutorial'), id: "tutorial-status-link" %><span>
      <% else %>
        <span class="tutorial-status <%= @tutorial.status ? 'complete-tutorial' : 'incomplete-tutorial' %>"><%= @tutorial.status ? "Completed" : "In Progress" %><span>
      <% end %>
    </p>

    <% if tutorial_creator? %>
      <%= link_to "Edit Title & Description", edit_tutorial_path(@tutorial), id: "edit-tutorial-header", data: {"reveal-id" => "modal-popup"} %>
    <% else %>
      <p class="inline"> Written by: <%= link_to "#{@author.user_name}", user_path(@author), class: "inline" %></p>
    <% end %>

    <%= link_to "View As Single Page", html_view_tutorial_path(@tutorial) %>

    <% if @tutorial.community_id %>
      <p>Community: <%= @community.name %></p>
    <% else %>
      <% if tutorial_creator? && !current_user.communities.empty? %>
        <%= render "tutorials/add_community_form" %>
      <% end %>
    <% end %>

  </div> 

  <h2 class="tut-index">Table of Contents:</h2>
  <div class="row" id="tutorial-contents">
    <div id="chapter-list" class="small-10 small-offset-1">
  		<%= render "tutorials/chapter_tree_show" %>
    </div>
  </div>

	<% if tutorial_creator? %>
    <%= link_to "Add Section <i class='fa fa-plus-square fa-2x' id='fa-plus-square'></i>".html_safe, generate_chapter_path(@tutorial), id: "add-chapter"%>
    <div id="chapter-form" style="display: none;"></div>
    <%= link_to 'Delete this tutorial', tutorial_path(@tutorial), method: :delete, data: { confirm: "Are you sure you want to delete this tutorial?"}, class: "delete-tutorial button"%>  
  <% end %> 
</div>

<% if tutorial_creator? %>
  <%= javascript_include_tag :strip_delete %>
<% end %>



