<div class="row">
	<h1><%= @tutorial.title %></h1>
	<p>Description: <%= @tutorial.description %></p>
  
  <div id="chapter-list">
		<% @tutorial.chapters.each do |chapter| %>
    	<div class="chapter" id="chapter-<%= chapter.id %>">
        <h2><%= chapter.title %></h2>
        <%= link_to fa_icon('arrow-circle-o-down', class: "fa-2x").html_safe, chapter_path(chapter), class: "sub-cpt-list add-list" %>
        <% if tutorial_creator? %>
          <%= link_to '<i class="fa fa-trash-o fa-2x del-chapter"></i>'.html_safe, chapter_path(chapter), method: :delete, data: { confirm: "Are you sure?" } %> 
        <% end %>
		  </div>
      <div class="small-11 small-offset-1" id="cpt-<%= chapter.id %>" style="display: none;"></div>
		<% end %>
  </div>

	<% if tutorial_creator? %>
    <%= link_to "Add Chapter <i class='fa fa-plus-square fa-2x'></i>".html_safe, new_tutorial_chapter_path(@tutorial), id: "add-chapter" %>
    <div id="chapter-form" style="display: none;"></div>
	<% end %>
 
</div>

<script>

  var switchArrow = function(link){
    var icon = $(link).children()[0]
    if ($(icon).attr("class").match("down") !== null) {
      $(icon).removeClass("fa fa-arrow-circle-o-down fa-2x");
      $(icon).addClass("fa fa-arrow-circle-o-up fa-2x");
    } else {
      $(icon).removeClass("fa fa-arrow-circle-o-up fa-2x");
      $(icon).addClass("fa fa-arrow-circle-o-down fa-2x");
      $(link).attr("class", "sub-cpt-list")
    }
  }

  // Pulls in sub chapters

  $(".sub-cpt-list").on("click", function(e){
    e.preventDefault();
    var link = this;
    if ($(this).attr('class').match("add-list") !== null){
      bring_list(link);
    } else {
      console.log('fail')
      take_list_off(link);
    }
  })

  var bring_list = function(link){
    switchArrow(link);
    var url = $(link).attr("href")
    var id = url.match(/\d+/)[0];
    $.get(url, function(serverResponse, status, request){
      $("#cpt-" + id).html(serverResponse).slideDown();
    }).done(function(){
      $(link).removeClass("add-list").addClass('remove-list')
    })
  }

  var take_list_off = function(link){
    console.log("great success")
    var id = $(link).attr('href').match(/\d+/)[0]
    switchArrow(link);
    $('#cpt-' + id).toggle("fade");
    $(link).removeClass("remove-list").addClass('add-list')
  }

</script>

<% if tutorial_creator? %>
  <script>

    // Pulls in the form to create a chapter
    $('#add-chapter').on("click", function(e){
    	e.preventDefault();
      var url = $(this).attr("href");
      
    	$.get(url, function(serverResponse, status, request){
        $("#chapter-form").html(serverResponse).slideDown(200);
    	});
    });
    

    // Append new chapter to the list
  	$('#chapter-form').on("submit", "#new_chapter", function(e){
      e.preventDefault();
      
      var data = $(this).serialize();
      var url = $(this).attr("action");

      if ($('#chapter_title').val() === "") {
        $("#chapter_title").css("border-color", "red")
      } else {
        $.post(url, data, function(serverResponse, status, request){
          var chapter = serverResponse; 
          $("#chapter-list").append("<div class='chapter' id='chapter-" + chapter.id + "'><h2>" + chapter.title + "</h2> <a class='sub-cpt-list' href='/chapters/" + chapter.id + "'><i class='fa fa-arrow-circle-o-down fa-2x'></i></a> <a data-confirm='Are you sure?' data-method='delete' href='/chapters/" + chapter.id + "' rel='nofollow'><i class='fa fa-trash-o fa-2x del-chapter'></i></a> </div>");
          $("#chapter-form").slideUp();
        }, "json");
      };
  	});

    // Pulls in form to create sub chapter
    $('#add-sub-chapter').on("click", function(e){
      e.preventDefault();
      var url = $(this).attr("href");
      
      $.get(url, function(serverResponse, status, request){
        $("#sub-chapter-form").html(serverResponse).slideDown(200);
      });
    });


    // Appends subchapter to list
    $('#sub-chapter-form').on("submit", "#new_sub_chapter", function(e){
      e.preventDefault();
      
      var data = $(this).serialize();
      var url = $(this).attr("action");

      if ($('#sub_chapter_title').val() === "") {
        $("#sub_chapter_title").css("border-color", "red")
      } else {
        $.post(url, data, function(serverResponse, status, request){
          var subChapter = serverResponse; 
          $("#sub-chapter-list").append("<div class='sub-chapter' id='sub-chapter-" + subChapter.id + "'><h2><a href='/sub_chapters/" + subChapter.id + "'>" + subChapter.title + "</a></h2> <a data-confirm='Are you sure?' data-method='delete' href='/sub_chapters/" + subChapter.id + "' rel='nofollow'><i class='fa fa-minus-square fa-2x del-sub-chapter'></i></a> </div>");
          $("#sub-chapter-form").slideUp(200);
        }, "json");
      };
    });
  </script>
<% end %>



<%#= render "tutorials/display_tutorial" %>


