<div class='row'>
  <div class='small-10 small-offset-1 medium-8 medium-offset-2 large-6 large-offset-3 columns'>
		<% if @errors %>
		  <% @errors.each do |error| %>
		    <p><%= error %></p>
		  <% end %>
		<% end %>

		<%= form_for @chapter do |f|%>
		  
		  <div><%= f.label :title %><br>
		  <%= f.text_field :title %></div>

		  <div><%= f.submit "Edit Chapter", class: "button" %></div>

		<% end %>
	</div>
</div>

