<div class="row">
	<div class="small-6 small-offset-3 columns">
		<%= form_for @community, :html => {:id => "community-add"} do |f|%>
			<% if @errors %>
				<% @errors.each do |error| %>
					<p><%= error %></p>
				<% end %>
			<% end %>	  
			<p>
				<%= f.label :name %>
				<%= f.text_field :name, autofocus: true %>
			</p>
			<p>
				<%= f.label :description %>
				<%= f.text_field :description %>
			</p>
			<div>
				<%= f.submit class: "button" %>
			</div>
		<% end %>
	</div>
</div>
<a class='close-reveal-modal'>&#215;</a>