
	<div class="communities-header view-header medium-10 medium-offset columns">
		<h2>Communities
			<%= link_to "Add New Community", new_community_path, class: "button create-community-link", data: {"reveal-id" => "modal-popup"}  %>
		</h2>
			
	</div>
	<% @communities.each do |community| %>
		<ul id="communities-list">
			<%= link_to community_path(community) do %>
				<div class ="tutorial-list medium-10 medium-offset columns">
					<li> 
						<p class="tut-title"> 
							<%= community.name %> 
						</p>
						<p class="number-members">
						members:  <%=community.users.count%>
						<p>
						</p>
						<p class="tut-description">
							<%= community.description %>
						</p>
					</li>
				</div>
			<% end %>
		</ul>
	<% end %>



<%= javascript_include_tag :communities_index %>