<div>
	<div class="view-header communities-header medium-11 medium-offset columns">
		<h2><%= @community.name %> Community Tutorials
	    	<% if current_user.community_ids.include?((params[:id]).to_i) %>
		     	<%= link_to "Create Community Tutorial", new_tutorial_path, class: "create-community-link button" %>
		     	<p id="already-member">
		     		<%= "You are a member of this community." %>
		     	</p>
     	
		     <% else %>
			     <%= link_to "Join Community", create_user_membership_community_path, class: "button create-community-link", :method => :post %><br>
			 <% end %>
	 	</h2>
	</div>
      
	<% @tutorials.each do |tutorial| %>
		<%= link_to tutorial_path(tutorial) do %>
			<div class =" tutorial-list medium-10 medium-offset columns" id="tut-list-community-show">
				<li> 
					<p class="tut-title">
						<%= tutorial.title %> 
					</p>
					<p class="tut-description">
						<%= tutorial.description %>
					</p>
					<p class="author-date">
						<%= authorship(tutorial) %>
					</p>
				</li>
			</div>
		<% end %>	
	<% end %>
</div>