<div>
	<div class="view-header medium-10 medium-offset columns">
		<h2><%= @community.name %> Community Tutorials</h2>
     <% if current_user.community_ids.include?((params[:id]).to_i) %>
     	<p>
     		<%= "You are a member of this community" %>
     	</p>
     	<%= link_to "Create Community Tutorial", new_tutorial_path, class: "button" %>
     <% else %>
	     <%= link_to "Join Community", create_user_membership_community_path, class: "button", :method => :post %><br>
	 <% end %>
	</div>
      
	<% @tutorials.each do |tutorial| %>
		<%= link_to tutorial_path(tutorial) do %>
			<div class ="tutorial-list medium-10 medium-offset columns">
				<li> 
					<p class="tut-title">
						<%= tutorial.title %> 
					</p>
					<p class="tut-description">
						<%= tutorial.description %>
					</p>
					<p class="author-date">
						<%= authorship(tutorial) %>
					</p>
				</li>
			</div>
		<% end %>	
	<% end %>
</div>