<% if @errors %>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= form_for [@sub_chapter,@paragraph] do |f|%>
  
  <div><%= f.label :body %><br>
  <%= f.text_field :body %></div>

  <div><%= f.submit %></div>

<% end %>