<div class="row">
  <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
    <% if @errors %>
      <% @errors.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
    <button id="href-adder" onmousedown="addAnchorTag()"></button>
    <%= form_for [@sub_chapter,@paragraph] do |f|%>
      
      <div><%= f.label :body %><br>
      <%= f.text_area :body, rows: 20, autofocus: true %></div>

      <div><%= f.submit %></div>

    <% end %>
  </div>
</div>
<a class="close-reveal-modal">&#215;</a>

<script>
  addAnchorTag = function() {
    var aTag = "<a href=''></a>"
    var textArea = document.getElementById('paragraph_body')
    if 

    else {
      textArea.value += aTag
    }
  }
</script>

