<% if @sub_chapter%>

  <% @sub_chapter.contents.sort_by(&:order_number).each do |content| %>
    <% if content.attatchable_type == "Paragraph" %>
      <%= content.attatchable.body %>
      <br>          
      <br>
      <p>
        <%= link_to "Edit", edit_paragraph_path(content.attatchable) %> 
        <%= link_to "[UP]", content_up_path(content) %> 
        <%= link_to "[DOWN]", content_down_path(content) %>           
      </p>

    <% elsif content.attatchable_type == "CodeSnippet" %>
        <% @count +=1 %>
        <p id="editor_language <%=@count%>"><%= content.attatchable.language %></p>
        <div id="editor <%=@count%>" style="height: 200px; width: 500px; background-color:#eee"><%= content.attatchable.body %></div>
        <br>
        <p>
          <%= link_to "[Edit]", edit_code_snippet_path(content.attatchable) %> 
          <%= link_to "[UP]", content_up_path(content) %> 
          <%= link_to "[DOWN]", content_down_path(content) %>             
        </p>
    <% end %>
  <% end %>
<% end%>


<script>
  for (var i=1;i<= <%=@count%>;i++){ 
    var editor = ace.edit("editor " + i);
    var language = document.getElementById("editor_language " + i).innerHTML
    editor.setTheme("ace/theme/textmate");
    editor.session.setMode("ace/mode/" + language.toLowerCase());
    editor.getSession().setUseWrapMode(true);
    editor.setReadOnly(true)
  }
</script>