<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">infobytes</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if current_user %>
        <li><%= link_to "Profile #{fa_icon('user', class: "fa-2x")}".html_safe, user_path(current_user.id) %></li>
        <li><%= link_to "New Tutorial #{fa_icon('plus-square', class: "fa-2x")}".html_safe, new_tutorial_path %></li>
        <li><%= link_to "Sign Out #{fa_icon('sign-out', class: "fa-2x")}".html_safe, destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign In #{fa_icon('sign-in', class: "fa-2x")}".html_safe, new_user_session_path, id: "sign-in-link", data: {"reveal-id" => "modal-popup"} %></li>
        <li><%= link_to "Sign Up #{fa_icon('level-up', class: "fa-2x")}".html_safe, new_user_registration_path, id: "sign-up-link-nav", data: {"reveal-id" => "modal-popup"} %></li>
      <% end %>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      
    </ul>
  </section>
</nav>

<script>
  $(document).foundation()
  $("#sign-in-link").on("click", function(e){
    e.preventDefault()
    $.get("/users/ajax/sign_in", function(serverResponse, status, request){
      $("#modal-popup").html(serverResponse);
      $("#modal-popup").append("<a class='close-reveal-modal'>&#215;</a>")
    })
  });

  $("#sign-up-link-nav").on("click", function(e){
    e.preventDefault()
    $.get("/users/ajax/sign_up", function(serverResponse, status, request){
      $("#modal-popup").html(serverResponse);
      $("#modal-popup").append("<a class='close-reveal-modal'>&#215;</a>")
    })
  });















</script>




