<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">infobytes</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if current_user %>
        <li><%= link_to "profile", user_path(current_user.id) %></li>
        <li><%= link_to '<i class="fa fa-plus-square fa-3x"></i>'.html_safe, new_tutorial_path %></li>
        <li><%= link_to "#{fa_icon('sign-in', class: "fa-2x")}Sign Out".html_safe, destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign In #{fa_icon('sign-in', class: "fa-2x")}".html_safe, new_user_session_path %></li>
        <li><%= link_to "Sign Up #{fa_icon('level-up', class: "fa-2x")}".html_safe, new_user_registration_path %></li>
      <% end %>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      
    </ul>
  </section>
</nav>