<!DOCTYPE html>
<html>
<head>
  <title>infobytes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='http://fonts.googleapis.com/css?family=Noticia+Text:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>
  <div id="navbar">
  	<%= render "layouts/nav" %>
  </div>
  <%= render "layouts/messages" %>
  <div id="layout">
    <%= yield %> 
  </div>
  
  <%= render "layouts/footer" %>

  <div id="modal-popup" class="reveal-modal medium" data-reveal></div>

</body>
</html>
